/* font */

/* Merri */

.fontMerri{
    font-family: 'Merriweather', serif;
}

/* Inter */
.fontInter{
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 1320px;
    margin: 0 auto;
}



.banner{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.0)),url(resources/Banner.png);
    ;
    width: 1320px;
    height: 600px;
}

.banner-text{
    color:white;
    position: relative;
    top: 177px;
    text-align: center;
    width: 688px;
    margin: 0 auto;
}

.banner-text p{
    font-size: 32px;
    margin-bottom: 7px;
}

.banner-text h2{
    font-size: 72px;
    font-weight: 900px;
    margin-top: 0;
}


/* offer-category  */

.offer-category{
    width: 950px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.offer-text{
    text-align: center;
}

.offer-text h4{
    font-size: 88px;
    font-weight: 700px;
    color: #F00;
    margin-bottom: 0px;
}

.offer-text p{
    font-size: 24px;
    font-weight: 500px;
    color: #F00;
    margin-top: 48px;
}
.offer-text h5{
    font-size: 48px;
    font-weight: 700px;
    color: #070211;
    margin-top: 5px;
    margin-bottom: 48px;
}

/* welcome-banner */

.welcome-banner{
    background:linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0)), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-text{
    color: white;
    position: relative;
    left: 100px;
    width: 60%;
    
}

.welcome-text h2{
    font-size: 64px;
    font-weight: 900px;
    width: 70%;
    margin-bottom: 24px;
}
.welcome-text p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    width: 90%;
    margin-bottom: 48px;
    
}
.welcome-text span{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
   
}

.welcome-img img{
    height: 500px;
}

/* time section */
.time{
    width: 1320px;
    margin: 40px auto;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
}
.time-text{
    font-size: 32px;
    font-weight: 600px;
    width: 985px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.time-text span{
    font-size: 32px;
    font-weight: 600px;
    color: #F00;
}

.time-text .btn{
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.time-text .btn:hover{
    cursor: pointer;
    background-color: rgb(133, 155, 202);
    color: white
}

/* coming soon */
.coming-soon{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coming-1st-text{
    width: 35%;
    margin-right: 70px;
}

.coming-1st-text h6{
    font-size: 24px;
    font-weight: 500;
    color: #F00;
    margin-bottom: 10px;
}
.coming-1st-text h6:hover{
    font-size: 24px;
    font-weight: 900;
    color: rgb(153, 142, 142);
    margin-bottom: 10px;
    cursor: pointer;
}
.coming-1st-text h3{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.coming-1st-text p{
    margin-top: 22px;
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-img{
    border: 15px solid #F00;
    border-radius: 100%;
    padding: 49px;
    width: 35%;
    
}

.coming-img .img{
    width: 364.844px;
    height: 364.844px;
}
.coming-2nd-text{
    margin-left: 118px;
    
}
.coming-2nd-text h3{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.coming-2nd-text p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 0;
    margin-bottom: 48px;
}


/* holiday sales */

.holiday{
    width: 1320px;
    margin: 0 auto;
}

.holiday-text{
    text-align: center;
    margin: 20px 0;
}
.holiday-text h6{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    }
.holiday-text h2 span{
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}
.holiday-text h2{
    margin-top: 0;
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}
.holiday-text p{
    margin: 0 auto;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.holiday-festive-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0;
}
.holiday-festive-img .first{
    width: 60%;
    position: relative;
    top:100px;
}
.holiday-festive-img .second{
    position: absolute;
    right: 270px;
    bottom: 160px;
}
.holiday-festive-img .third{
    width: 429px;
    height: 433px;
    
}
.holiday-img .red{
    position: relative;
    -top: 200px;
    margin-top: 0;
    bottom: 112px;
    z-index: -1;
}

/* Portfolio */

.protfolio{
    width: 1320px;
    margin: 100px auto;
}

.protfolio-text{
    
}
.porfolio-text h5{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.porfolio-text h5:hover{
    color: rgb(38, 207, 179);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
.porfolio-text h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
}
.porfolio-text p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-top: 0;
}

.porfolio-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    transition: 6s;
}

.porfolio-img .img:hover{
   cursor: pointer;
    transform: scaleX(.5);
}

