/* font */

/* Merri */

.fontMerri{
    font-family: 'Merriweather', serif;
}

/* Inter */
.fontInter{
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 1320px;
    margin: 0 auto;
}


.banner{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.0)),url(resources/Banner.png);
    ;
    width: 1320px;
    height: 600px;
}

.banner-text{
    color:white;
    position: relative;
    top: 177px;
    text-align: center;
    width: 688px;
    margin: 0 auto;
}

.banner-text p{
    font-size: 32px;
    margin-bottom: 7px;
}

.banner-text h2{
    font-size: 72px;
    font-weight: 900px;
    margin-top: 0;
}


/* offer-category  */

.offer-category{
    width: 950px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.offer-text{
    text-align: center;
}

.offer-text h4{
    font-size: 88px;
    font-weight: 700px;
    color: #F00;
    margin-bottom: 0px;
}

.offer-text p{
    font-size: 24px;
    font-weight: 500px;
    color: #F00;
    margin-top: 48px;
}
.offer-text h5{
    font-size: 48px;
    font-weight: 700px;
    color: #070211;
    margin-top: 5px;
    margin-bottom: 48px;
}

/* welcome-banner */

.welcome-banner{
    background:linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0)), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-text{
    color: white;
    position: relative;
    left: 100px;
    /* top: 126px; */
    width: 60%;
    
}

.welcome-text h2{
    font-size: 64px;
    font-weight: 900px;
    width: 70%;
}
.welcome-text p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    width: 90%;
}
.welcome-text span{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.welcome-img img{
    height: 500px;
}
